@mixin clearfix() {
  &:after {
    clear: both;
    content: '';
    display: block;
  }
}

@mixin fill-parent() {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

@mixin rounded($size, $type: block) {
  border-radius: 50%;
  display: $type;
  height: $size;
  width: $size;
}
