// LAYOUT

$container-max-width: 1140px;

// COLORS

$color-text: #fff;
$color-text-primary: #777;
$color-accent: #17b794;

// NAVBAR

$navbar-padding: 15px;
$navlink-padding: 10px;
$navlink-transition: .5s;
