<section>
  <h3>Get In Touch</h3>
  <form>
    <input type="text" name="firstName" placeholder="Your first name">
    <input type="email" name="email" placeholder="Your email address">
    <input type="text" name="subject" placeholder="The subject of your message">
    <textarea name="message" placeholder="Your message" rows="8"></textarea>
    <button type="submit">Send Message</button>
  </form>
</section>

<section>
  <h3>Contact Information</h3>
  <ul>
    <li>
      <i class="fa fa-map-marker" aria-hidden="true"></i>
      <address>
        3684 Virgil Street<br>
        Florida FL 32405
      </address>
    </li>
    <li>
      <i class="fa fa-phone" aria-hidden="true"></i> +1 234 567 890
    </li>
    <li>
      <i class="fa fa-envelope" aria-hidden="true"></i> info@domain.com
    </li>
    <li>
      <i class="fa fa-globe" aria-hidden="true"></i> domain.com
    </li>
  </ul>
</section>
