<section class="section container">
  <div class="grid grid--center grid--no-spacing">
    <div class="section__heading col col-d-8">
      <h2 class="section__title">Meet the Team</h2>
      <p class="section__description">
        Ultrices neque ornare aenean euismod elementum nisi. Vulputate ut pharetra
        sit amet aliquam id diam.
      </p>
    </div><!-- /.section__heading -->
  </div>
  <div class="grid">
    <div class="col col-d-4">
      <app-employee-card title="Employee #1" role="Web Designer">
        Augue neque gravida in fermentum. Diam vel quam elementum pulvinar. Donec enim
        diam vulputate ut. Cursus risus at ultrices mi tempus imperdiet nulla malesuada
        pellentesque.
      </app-employee-card>
    </div>
    <div class="col col-d-4">
      <app-employee-card title="Employee #2" role="Front end developer">
        Augue neque gravida in fermentum. Diam vel quam elementum pulvinar. Donec enim
        diam vulputate ut. Cursus risus at ultrices mi tempus imperdiet nulla malesuada
        pellentesque.
      </app-employee-card>
    </div>
    <div class="col col-d-4">
      <app-employee-card title="Employee #3" role="Back end developer">
        Augue neque gravida in fermentum. Diam vel quam elementum pulvinar. Donec enim
        diam vulputate ut. Cursus risus at ultrices mi tempus imperdiet nulla malesuada
        pellentesque.
      </app-employee-card>
    </div>
  </div>
</section>
