<section>
  <div class="section__heading">
    <h2>Meet the Team</h2>
    <p>
      Ultrices neque ornare aenean euismod elementum nisi. Vulputate ut pharetra 
sit amet aliquam id diam.
    </p>
  </div>
  <app-employee-card title="Employee #1" role="Web Designer">
    Augue neque gravida in fermentum. Diam vel quam elementum pulvinar. Donec enim
    diam vulputate ut. Cursus risus at ultrices mi tempus imperdiet nulla malesuada
    pellentesque. Pellentesque sit amet porttitor eget dolor morbi non arcu risus.
  </app-employee-card>
  <app-employee-card title="Employee #2" role="Front end developer">
    Augue neque gravida in fermentum. Diam vel quam elementum pulvinar. Donec enim
    diam vulputate ut. Cursus risus at ultrices mi tempus imperdiet nulla malesuada
    pellentesque. Pellentesque sit amet porttitor eget dolor morbi non arcu risus.
  </app-employee-card>
  <app-employee-card title="Employee #3" role="Back end developer">
    Augue neque gravida in fermentum. Diam vel quam elementum pulvinar. Donec enim
    diam vulputate ut. Cursus risus at ultrices mi tempus imperdiet nulla malesuada
    pellentesque. Pellentesque sit amet porttitor eget dolor morbi non arcu risus.
  </app-employee-card>
</section>
