<section class="section section--dark">
  <div class="container">
    <div class="grid grid--center grid--no-spacing">
      <div class="section__heading col col-d-8">
        <h2 class="section__title">Our Latest Works</h2>
        <p class="section__description">
          Ultrices neque ornare aenean euismod elementum nisi. Vulputate ut pharetra
          sit amet aliquam id diam.
        </p>
      </div><!-- .section__heading -->
      <div class="gallery">
        <app-gallery [images]="images"></app-gallery>
      </div>
    </div><!-- .grid -->
    <div class="grid grid--center grid--no-spacing">
      <a href="#" class="button button--default button--large col col-d-4">
        See All Our Works
      </a>
    </div><!-- .grid -->
  </div><!-- .container -->
</section>
