<section class="section section--dark">
  <div class="container">
    <div class="grid grid--center grid--no-spacing">
      <div class="section__heading col col-d-8">
        <h2 class="section__title">Our Latest Works</h2>
        <p class="section__description">
          Ultrices neque ornare aenean euismod elementum nisi. Vulputate ut pharetra
          sit amet aliquam id diam.
        </p>
      </div><!-- .section__heading -->
      <app-gallery [images]="images"></app-gallery>
    </div><!-- .grid -->
  </div><!-- .container -->
</section>
