@import '../../../scss/partials/variables';
@import '../../../scss/partials/mixins';

$hero-title-font-size: 80px;
$hero-title-font-weight: 400;
$hero-desc-font-size: 1.4rem;
$hero-desc-margin-bottom: 30px;

div {
  @include fill-parent();

  align-items: center;
  display: flex;
  z-index: -100;
}

.center {
  justify-content: center;
  text-align: center;
}

.hero {
  color: $color-text;

  h1 {
    font-size: $hero-title-font-size;
    font-weight: $hero-title-font-weight;
    line-height: 1.5;
    margin: 0;
  }
}

p {
  font-size: $hero-desc-font-size;
  margin-bottom: $hero-desc-margin-bottom;
  margin-top: 0;
}
