@import '../../../scss/partials/variables';
@import '../../../scss/partials/mixins';

$hero-title-font-size: 80px;
$hero-title-font-weight: 400;

div {
  @include fill-parent();

  align-items: center;
  display: flex;
  z-index: -100;
}

.center {
  justify-content: center;
  text-align: center;
}

.hero {
  color: $color-text;

  h1 {
    font-size: $hero-title-font-size;
    font-weight: $hero-title-font-weight;
  }
}
