<app-card title="Search" icon="search" [primary]="true">
  Fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis.
  Ultrices dui sapien eget mi proin sed libero. Ipsum dolor sit amet consectetur.
</app-card>
<app-card title="Announcement" icon="announcement" [primary]="true">
  Fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis.
  Ultrices dui sapien eget mi proin sed libero. Ipsum dolor sit amet consectetur.
</app-card>
<app-card title="Timer" icon="timer" [primary]="true">
  Fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis.
  Ultrices dui sapien eget mi proin sed libero. Ipsum dolor sit amet consectetur.
</app-card>

<app-features></app-features>

<app-latest-works></app-latest-works>

<app-facts></app-facts>

<app-products></app-products>
