<div class="container">
  <div class="cards grid grid--no-spacing">
    <div class="col col-d-4">
      <app-card title="Search" icon="search" [primary]="true" link="#">
        Fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis.
        Ultrices neque ornare aenean euismod elementum nisi. Vulputate ut pharetra
        sit amet aliquam id diam.
      </app-card>
    </div>
    <div class="col col-d-4">
      <app-card title="Announcement" icon="announcement" [primary]="true" link="#" [middle]="true">
        Fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis.
        Ultrices neque ornare aenean euismod elementum nisi. Vulputate ut pharetra
        sit amet aliquam id diam.
      </app-card>
    </div>
    <div class="col col-d-4">
      <app-card title="Timer" icon="clock" [primary]="true" link="#">
        Fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis.
        Ultrices neque ornare aenean euismod elementum nisi. Vulputate ut pharetra
        sit amet aliquam id diam.
      </app-card>
    </div>
  </div><!-- .cards -->
</div><!-- .container -->

<app-features></app-features>

<app-latest-works></app-latest-works>

<app-facts></app-facts>

<app-products></app-products>
