<section class="container section">
  <div class="grid grid--center grid--no-spacing">
    <div class="section__heading col col-d-8">
      <h2 class="section__title">Aesthetic Features</h2>
      <p class="section__description">
        Ultrices neque ornare aenean euismod elementum nisi. Vulputate ut pharetra
        sit amet aliquam id diam.
      </p>
    </div><!-- .section__heading -->
  </div><!-- .grid -->

  <div class="grid">
    <div class="col col-d-3">
      <app-card title="Pixel Perfect" icon="grid">
        Fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis.
        Ultrices dui sapien eget mi proin sed libero.
      </app-card>
    </div>
    <div class="col col-d-3">
      <app-card title="Fully Responsive" icon="mobile">
        Fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis.
        Ultrices dui sapien eget mi proin sed libero.
      </app-card>
    </div>
    <div class="col col-d-3">
      <app-card title="Web Development" icon="code">
        Fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis.
        Ultrices dui sapien eget mi proin sed libero.
      </app-card>
    </div>
    <div class="col col-d-3">
      <app-card title="Web Design" icon="brush">
        Fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis.
        Ultrices dui sapien eget mi proin sed libero.
      </app-card>
    </div>
  </div><!-- .grid -->
</section>
