<section>
  <h2>Aesthetic Features</h2>
  <p>
    Ultrices dui sapien eget mi proin sed libero. Ipsum dolor sit amet consectetur.
  </p>
  <app-card title="Pixel Perfect" icon="#">
    Fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis.
    Ultrices dui sapien eget mi proin sed libero. Ipsum dolor sit amet consectetur.
  </app-card>
  <app-card title="Fully Responsive" icon="#">
    Fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis.
    Ultrices dui sapien eget mi proin sed libero. Ipsum dolor sit amet consectetur.
  </app-card>
  <app-card title="Web Development" icon="#">
    Fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis.
    Ultrices dui sapien eget mi proin sed libero. Ipsum dolor sit amet consectetur.
  </app-card>
  <app-card title="Web Design" icon="#">
    Fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis.
    Ultrices dui sapien eget mi proin sed libero. Ipsum dolor sit amet consectetur.
  </app-card>
</section>
