<section class="section section--dark">
  <div class="container">
    <div class="grid grid--center grid--no-spacing">
      <div class="section__heading col col-d-8">
        <h2 class="section__title">Subscribe</h2>
        <p class="section__description">Ipsum dolor sit amet consectetur.</p>
      </div>
    </div>
    <form action="#" method="post" class="grid">
      <div class="col col-d-4">
        <input class="input input--default" type="email" name="email" placeholder="Your Email">
      </div>
      <div class="col col-d-4">
        <input class="input input--default" type="name" name="name" placeholder="Your Name">
      </div>
      <div class="col col-d-4">
        <button type="submit" class="button button--primary">Subscribe</button>
      </div>
    </form>
  </div>
</section>
