@import '../scss/partials/mixins';

$overlay-color: rgba(29, 43, 83, .89);
$header-height-primary: 800px;
$header-height-secondary: 500px;

header {
  background-image: url('../assets/images/hero.jpg');
  background-size: cover;
  height: $header-height-primary;
  position: relative;

  &.header--small {
    height: $header-height-secondary;
  }
}

.overlay {
  @include fill-parent();

  background-color: $overlay-color;
  z-index: 100;
}

.container {
  @include fill-parent();

  z-index: 100;
}
