<header>
  <app-contact-bar></app-contact-bar>

  <app-navbar>
    <app-logo url="/">Angular Template</app-logo>
    <app-nav-link url="/">Home</app-nav-link>
    <app-nav-link url="/about">About</app-nav-link>
    <app-nav-link url="#">Services</app-nav-link>
    <app-nav-link url="#">Dropdown</app-nav-link>
    <app-nav-link url="#">Porfolio</app-nav-link>
    <app-nav-link url="#">Contact</app-nav-link>
  </app-navbar>

  <app-hero title="Home"></app-hero>
</header>

<main>
  <router-outlet></router-outlet>
  <app-subscribe></app-subscribe>
</main>

<footer>
  <app-footer></app-footer>
</footer>
