<section class="section container">
  <div class="grid grid--center grid--no-spacing">
    <div class="section__heading col col-d-8">
      <h2 class="section__title">Fun Facts</h2>
      <p class="section__description">
        Ultrices neque ornare aenean euismod elementum nisi. Vulputate ut pharetra
        sit amet aliquam id diam.
      </p>
    </div><!-- .section__heading -->
  </div><!-- .grid -->
  <div class="grid">
    <div class="col col-d-3">
      <app-stat-card title="Creativity Fuel" icon="cog" iconType="line" [num]="17920"></app-stat-card>
    </div>
    <div class="col col-d-3">
      <app-stat-card title="Happy Clients" icon="smile" iconType="line" [num]="53"></app-stat-card>
    </div>
    <div class="col col-d-3">
      <app-stat-card title="Projects Done" icon="briefcase" iconType="line" [num]="132"></app-stat-card>
    </div>
    <div class="col col-d-3">
      <app-stat-card title="Hours Spent" icon="clock" iconType="line" [num]="185364"></app-stat-card>
    </div>
  </div>
</section>
