<section>
  <div class="section__heading">
    <h2>What We Offer</h2>
    <p>
      Ultrices neque ornare aenean euismod elementum nisi. Vulputate ut pharetra 
sit amet aliquam id diam.
    </p>
  </div>

  <app-card title="Web Development" iconPlacement="left">
    Vel fringilla est ullamcorper eget. A diam maecenas sed enim ut sem.
  </app-card>
  <app-card title="Web Design" iconPlacement="left">
    Vel fringilla est ullamcorper eget. A diam maecenas sed enim ut sem.
  </app-card>
  <app-card title="Customer Support" iconPlacement="left">
    Vel fringilla est ullamcorper eget. A diam maecenas sed enim ut sem.
  </app-card>
  <app-card title="User Experience" iconPlacement="left">
    Vel fringilla est ullamcorper eget. A diam maecenas sed enim ut sem.
  </app-card>
  <app-card title="Pixel Perfect Design" iconPlacement="left">
    Vel fringilla est ullamcorper eget. A diam maecenas sed enim ut sem.
  </app-card>
  <app-card title="Creative Themes" iconPlacement="left">
    Vel fringilla est ullamcorper eget. A diam maecenas sed enim ut sem.
  </app-card>
</section>

<section>
  <div class="section__heading">
    <h2>More Services</h2>
    <p>
      Ultrices neque ornare aenean euismod elementum nisi. Vulputate ut pharetra 
sit amet aliquam id diam.
    </p>
  </div>

  <app-card title="Retina Ready" icon="check" iconPlacement="left">
    Vel fringilla est ullamcorper eget. A diam maecenas sed enim ut sem.
  </app-card>
  <app-card title="Retina Ready" icon="check" iconPlacement="left">
    Vel fringilla est ullamcorper eget. A diam maecenas sed enim ut sem.
  </app-card>
  <app-card title="Fully Responsive" icon="check" iconPlacement="left">
    Vel fringilla est ullamcorper eget. A diam maecenas sed enim ut sem.
  </app-card>
  <app-card title="Fully Responsive" icon="check" iconPlacement="left">
    Vel fringilla est ullamcorper eget. A diam maecenas sed enim ut sem.
  </app-card>
  <app-card title="Ready To Use" icon="check" iconPlacement="left">
    Vel fringilla est ullamcorper eget. A diam maecenas sed enim ut sem.
  </app-card>
  <app-card title="Ready To Use" icon="check" iconPlacement="left">
    Vel fringilla est ullamcorper eget. A diam maecenas sed enim ut sem.
  </app-card>
</section>
