<section class="section container">
  <div class="grid grid--center grid--no-spacing">
    <div class="section__heading col col-d-8">
      <h2 class="section__title">What We Offer</h2>
      <p class="section__description">
        Ultrices neque ornare aenean euismod elementum nisi. Vulputate ut pharetra 
        sit amet aliquam id diam.
      </p>
    </div><!-- /.section__heading -->
  </div><!-- /.grid -->
  
  <div class="grid">
    <div class="col col-d-4">
      <app-card title="Web Development" iconPlacement="left">
        Vel fringilla est ullamcorper eget. A diam maecenas sed enim ut sem.
      </app-card>
    </div>
    <div class="col col-d-4">
      <app-card title="Web Design" iconPlacement="left">
        Vel fringilla est ullamcorper eget. A diam maecenas sed enim ut sem.
      </app-card>
    </div>
    <div class="col col-d-4">
      <app-card title="Customer Support" iconPlacement="left">
        Vel fringilla est ullamcorper eget. A diam maecenas sed enim ut sem.
      </app-card>
    </div>
    <div class="col col-d-4">
      <app-card title="User Experience" iconPlacement="left">
        Vel fringilla est ullamcorper eget. A diam maecenas sed enim ut sem.
      </app-card>
    </div>
    <div class="col col-d-4">
      <app-card title="Pixel Perfect Design" iconPlacement="left">
        Vel fringilla est ullamcorper eget. A diam maecenas sed enim ut sem.
      </app-card>
    </div>
    <div class="col col-d-4">
      <app-card title="Creative Themes" iconPlacement="left">
        Vel fringilla est ullamcorper eget. A diam maecenas sed enim ut sem.
      </app-card>
    </div>
  </div><!-- /.grid -->
</section>

<section class="section container">
  <div class="grid grid--center grid--no-spacing">
    <div class="section__heading col col-d-8">
      <h2 class="section__title">More Services</h2>
      <p class="section__description">
        Ultrices neque ornare aenean euismod elementum nisi. Vulputate ut pharetra 
        sit amet aliquam id diam.
      </p>
    </div><!-- /.section__heading -->
  </div><!-- /.grid -->
  
  <div class="grid">
    <div class="col col-d-6">
      <app-card title="Retina Ready" icon="check" iconPlacement="left">
        Vel fringilla est ullamcorper eget. A diam maecenas sed enim ut sem.
      </app-card>
    </div>
    <div class="col col-d-6">
      <app-card title="Retina Ready" icon="check" iconPlacement="left">
        Vel fringilla est ullamcorper eget. A diam maecenas sed enim ut sem.
      </app-card>
    </div>
    <div class="col col-d-6">
      <app-card title="Fully Responsive" icon="check" iconPlacement="left">
        Vel fringilla est ullamcorper eget. A diam maecenas sed enim ut sem.
      </app-card>
    </div>
    <div class="col col-d-6">
      <app-card title="Fully Responsive" icon="check" iconPlacement="left">
        Vel fringilla est ullamcorper eget. A diam maecenas sed enim ut sem.
      </app-card>
    </div>
    <div class="col col-d-6">
      <app-card title="Ready To Use" icon="check" iconPlacement="left">
        Vel fringilla est ullamcorper eget. A diam maecenas sed enim ut sem.
      </app-card>
    </div>
    <div class="col col-d-6">
      <app-card title="Ready To Use" icon="check" iconPlacement="left">
        Vel fringilla est ullamcorper eget. A diam maecenas sed enim ut sem.
      </app-card>
    </div>
  </div><!-- /.grid -->
</section>
