<div class="nav">
  <ul class="navbar navbar--right">
    <li class="navbar__link">
      <a href="#">
        <i class="fa fa-mobile" aria-hidden="true"></i> +1 (0)123 456 7890
      </a>
    </li>
    <li class="navbar__link">
      <a href="#">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
    </li>
    <li class="navbar__link">
      <a href="#">
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </a>
    </li>
    <li class="navbar__link">
      <a href="#">
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </a>
    </li>
  </ul>
</div>
