.button {
  border: $control-border-width solid;
  border-radius: $control-border-radius;
  cursor: pointer;
  display: inline-block;
  line-height: 1.5;
  outline: none;
  padding: $button-padding;
  transition: .3s;
  text-align: center;

  &.button--large {
    padding: $button-large-padding;
  }

  &.button--block {
    display: block;
  }
}

.button--default {
  background: transparent;
  border-color: $white;
  color: $color-text;

  &:hover {
    background: $white;
    color: $black;
  }
}

.button--primary {
  background: $color-accent;
  border-color: $color-accent;
  color: $color-text;
}
