$card-primary-padding: 30px;
$icon-container-size: 90px;
$icon-container-background: darken($color-accent, 5%);
$icon-size: 2.5rem;
$icon-offset: -50px;
$title-size: 1.125rem;
$card-middle-shadow: 0 0 20px 5px rgba(0, 0, 0, .3);
$card-middle-extension-height: -$icon-offset * 1.6;
$button-margin-bottom: 30px;

$card-default-padding: 25px;

.card {
  text-align: center;

  .card__icon-container {
    @include rounded($icon-container-size);

    margin: 0 auto;

    .card__icon {
      font-size: $icon-size;
      line-height: $icon-container-size;
    }
  }

  .card__title {
    font-size: $title-size;
    font-weight: 400;
  }

  .button {
    margin-bottom: $button-margin-bottom;
  }
}

.card--default {
  padding: $card-default-padding;

  .card__icon-container {
    color: $color-accent;
    border: 1px solid $light-grey;
  }

  .card__content {
    color: $color-text-primary;
  }
}

.card--primary {
  background: $color-accent;
  padding: $card-primary-padding;

  .card__icon-container {
    background: $icon-container-background;
    color: $color-text;
    position: relative;
    top: $icon-offset;
  }

  .card__title {
    color: $color-text;
    text-transform: uppercase;
  }

  .card__content {
    color: $grey-transparent;
  }
}

.card--middle {
  box-shadow: $card-middle-shadow;
  position: relative;
  top: $icon-offset;

  &:after {
    background: $color-accent;
    content: '';
    display: block;
    height: $card-middle-extension-height;
    width: 100%;
  }
}

.card--stat {
  .card__icon-container {
    color: $medium-grey;
    margin-bottom: 20px;
  }

  .card__title {
    color: $grey;
    display: block;
    letter-spacing: .1rem;
    text-transform: uppercase;
  }

  .card__content {
    color: $color-accent;
    display: block;
    font-size: 3rem;
    margin-bottom: 15px;
  }
}
