.nav {
  @include clearfix();

  padding-bottom: $navbar-padding;
  padding-top: $navbar-padding;

  .navbar__logo {
    color: $white;
    font-size: $navlogo-font-size;
    font-weight: $navlogo-font-weight;
    text-transform: uppercase;
  }
}

.navbar {
  list-style-type: none;
  margin: 0;

  .navbar__link {
    display: inline-block;

    a {
      color: $color-text-navbar;
      padding: $navlink-padding;
      transition: $navlink-transition;

      &:hover {
        color: $color-text;
      }
    }
  }
}

.navbar--right {
  float: right;
}
